* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./img/star-wars-bg.png);
  box-shadow: 0px 10px 10px black;
  color: #E5b13A;
  font-size: 50px;
  font-weight: 900;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


/* Introduction text */
#intro{ 
  position: absolute;
  font-family: 'Anonymous Pro', monospace;
  font-size : 55px;
  color: #155B6C; 
  animation-name: intro;
  animation-duration: 5s;
  opacity: 0;
}

@keyframes intro{
  from {
      opacity: 1;
  }
 to {
      opacity: 1;    
  }
} 

/* Logo animation */

#scaled-logo{
  position: absolute;
  z-index: 500;
  animation-name: scaled-logo ;
  animation-duration: 2s;
  animation-delay:5s;
  animation-timing-function: linear;
  opacity: 0;
}

@keyframes scaled-logo{
  0% {
      transform: scale(4);
      opacity: 1;
    }

    50% {
      transform: scale(2) ;
      opacity: 1;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
 
/* Crawl animation  */

main{
  margin-top: 100px;
  width: 950px;
  line-height: 1.5em;
  transform: perspective(200px) rotateX(30deg);
}

#fade{
  background-image: url(./img/star-wars-bg.png);
  position: absolute;
  box-shadow: 2px 7px 28px 36px #000000;
  top:50px;
  height: 155px;
  width: 100%;
  z-index:100;
}

#crawling-text{
  animation-name: crawl;
  animation-duration: 70s;
  animation-delay: 7s;
  animation-timing-function: linear;
  position:relative;
  top: 850px;
  text-align: justify;
}

#crawling-text h1, h2{
text-align:center
}


 @keyframes crawl{
  from {
    transform: translate3d(0,0,0);
  }

  to {
    transform: translate3d(0, -2000px,0);
  }
}  

