* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  color: #FFC31E;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-size: 30px;
  perspective:300px;
  overflow: hidden;
}

main{
  background-color: red;
  transform: rotateX(20deg);
  display: flex;
  flex-direction: column;
  border: 3px cyan solid;
  margin: 0px 100px;
  text-align: justify;
}


/* main {
  background-color: red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  perspective: 300px;
  transform-origin: 0% 100%;
}

@keyframes crawl {
  from {
    transform: translate3d(0, -500px) rotateX(40deg);
  }

  to {
    transform: translate3d(0, -500px, -1000px)rotateX(40deg);
  }
}

div {
  transform-style: preserve-3d;
  transform: rotateX(40deg);
  border: 1px solid black;
  height: 900px;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 600px;
  animation-name: crawl;
  animation-delay: 0s;
  animation-duration: 40s;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
} */